{sys, [
   %{lib_dirs, ["../apps", "../deps"]},
   {lib_dirs, []}
  ,{erts,     [{mod_cond, all}, {app_file, strip}]}
  ,{rel, "hyperion", "1", [
      kernel
     ,stdlib
   ]}
  ,{rel, "start_clean", "", [
      kernel
     ,stdlib
   ]}
  ,{boot_rel,  "hyperion"}
  ,{profile,   embedded}
  ,{app_file,  strip}
  ,{incl_cond, include}
%  ,{incl_cond, exclude}
  ,{excl_archive_filters, [".*"]}    %% Do not archive built libs
  ,{excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)","^erts.*/(doc|info|include|lib|man|src)"]}
  ,{excl_app_filters, ["\.gitignore"]}

  %% explicit list of included application   
%  ,{app, stdlib, [{incl_cond, include}]}
%  ,{app, kernel, [{incl_cond, include}]}
]}.

{target_dir, "hyperion"}.

{overlay_vars, "files/vars.config"}.
{overlay, [
   {copy,     "files/erl", "\{\{erts_vsn\}\}/bin/erl"}
  ,{copy,     "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"}
  ,{copy,     "files/hyperion", "bin/hyperion"}
  ,{copy,     "files/install_upgrade.escript", "bin/install_upgrade.escript"}
  ,{template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"}
  ,{template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
