%%
%% Erlang node configuration targets memory efficiency
{sys, [
   % {root_dir, "/usr/local/otp-17.3-pi"},
   {lib_dirs, ["../apps"]}
  ,{erts,     [{mod_cond, all}, {app_file, strip}]}
  ,{rel, "hyperion", "1", [
      kernel
     ,stdlib
     ,hyperion
   ]}
  ,{rel, "start_clean", "", [
      kernel
     ,stdlib
   ]}
  ,{boot_rel,             "hyperion"}
  ,{profile,              embedded}
  ,{excl_archive_filters, [".*"]}    %% Do not archive built libs
  ,{excl_app_filters,     ["\.gitignore"]}

  ,{incl_cond,     exclude}  
  ,{app, stdlib,   [{incl_cond, include}]}
  ,{app, kernel,   [{incl_cond, include}]}
  ,{app, hyperion, [{incl_cond, include}]}
]}.

{target_dir, "hyperion"}.

{overlay_vars, "files/vars.config"}.
{overlay, [
   {copy,     "files/erl", "\{\{erts_vsn\}\}/bin/erl"}
  ,{copy,     "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"}
  ,{copy,     "files/hyperion", "bin/hyperion"}
  ,{copy,     "files/install_upgrade.escript", "bin/install_upgrade.escript"}
  ,{template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"}
  ,{template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
  ,{copy,     "files/inet.config", "releases/\{\{rel_vsn\}\}/inet.config"}
]}.

%% Erlang/OTP libraries to package
{lib, [
   appmon
  ,asn1
  ,common_test
  ,compiler
  ,cosEvent
  ,cosEventDomain
  ,cosFileTransfer
  ,cosNotification
  ,cosProperty
  ,cosTime
  ,cosTransactions
  ,crypto
  ,debugger
  ,dialyzer
  ,diameter
  ,edoc
  ,eldap
  ,erl_docgen
  ,erl_interface
  ,mnesia
  ,eunit
  ,gs
  ,hipe
  ,ic
  ,inets
  ,inviso
  ,jinterface
  %,kernel
  ,erts
  ,reltool
  ,observer
  ,odbc
  ,orber
  ,os_mon
  ,otp_mibs
  ,parsetools
  ,percept
  ,pman
  ,megaco
  ,tools
  ,runtime_tools
  ,sasl
  ,snmp
  ,ssh
  ,ssl
  %,stdlib
  ,syntax_tools
  ,public_key
  ,test_server
  ,toolbar
  ,tv
  ,typer
  ,webtool
  ,wx
  ,xmerl
]}.
