%%
%% Erlang node configuration targets memory efficiency
{sys, [
   %% 
   %% config OTP root dir
   %{root_dir, "/usr/local/otp"},

   {lib_dirs, ["../apps"]},
   
   %%
   %% include all applications, they modules and keep app file
   {app_file,     keep},
   {incl_cond, include},
   {mod_cond,      all},

   %%
   %% include all binary to ${REL}/bin  
   {profile,      embedded},
   {excl_sys_filters,  [
      "^erts.*/bin/(ct_run|dialyzer|erl|erlc|typer)$",
      "^erts.*/(doc|info|include|lib|man|src)"
   ]},

   %%
   %% do not build .ez archives  
   {excl_archive_filters, [".*"]},

   %%
   %%
   {erts, [{mod_cond, all}, {app_file, keep}]},
   {app, hyperion, [{mod_cond, all}, {incl_cond, include}]},

   %%
   %% releases
   {rel, "hyperion", "1",
      [
         kernel,
         stdlib,
         hyperion
      ]
   },
   {rel, "start_clean", "",
      [
         kernel,
         stdlib
      ]
   },
   {boot_rel, "hyperion"}
]}.

{target_dir,   "hyperion"}.
{overlay_vars, "files/vars.config"}.
{overlay, [
   {copy, "files/hyperion", "bin/hyperion"},
   {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
   {template, "files/sys.config", "etc/app.config"},
   {template, "files/vm.args",    "etc/vm.args"}
]}.

